img{
	opacity:0.5;
}
img:hover {
	opacity: 1.0;
  }

.btn1 
{ 
height:35px;
width:259px;
border:1px solid rgb(206, 196, 196);
}

.btn1:hover 
{

box-shadow: rgb(211, 118, 118) 0 0 80px;
}

.btn1:focus
{
background-color:rgb(9, 86, 88);
color:rgb(255, 255, 255);
}


.btn2 
{ 
height:35px;
width:210px;
border:1px white;
}


.btn2:hover 
{
background:linear-gradient(#89da70,rgb(161, 72, 72));
color:rgb(87, 12, 12);
box-shadow: white 0 0 80px;
}

.btn2:focus
{
background-color:rgb(201, 99, 62);
color:rgb(124, 23, 23);
}
.two{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: darkblue;
	margin-top:40px;
	text-align: center;
	font-size: 55px;
	text-shadow:rgb(121, 31, 31) 0 0 40px;
}
h1{
	font-family:serif;
	font-weight: bold; 
	color: #0c1157;
	margin-top:40px;
	text-align: center;
	font-size: 55px;
	text-shadow:rgb(58, 125, 187) 0 0 40px;
	word-spacing: 10px;
}
table{
	background-color: rgb(164, 118, 185);
	color: rgb(219, 185, 32);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: coral;
	text-align-last: center;
}

.three{
	margin-top:70px;
	font-family:serif; 
	font-weight:bold;color:	#7dbd05;
	text-align: center;
	font-size: 28px;
	color: #0a0a07;

}
.four{
	margin-top:30px;
	font-family: serif;
	font-weight:bold; 
	font-style:bold;
	color: #0a0a07;
	text-align: center;
	font-size: 20px;
}
.five{
	background-color:#3b0d14;
	width:100%;
	margin-top:70px;
	height:55px;
	font-family: cursive;
	text-align: center;
	color: rgb(32, 9, 61);
}
.back{
	height: 600px;
	border: 1px solid rgb(0, 0, 0);
	padding: 50px;
	margin: 200px;
	background-color: #0a0a07;
	opacity: 0.7;

	

}
